<div class="page">
    <mat-card class="book-section" cdkDropList id="book" #bookList="cdkDropList" [cdkDropListData]="book"
        (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[selectedList]">
        <app-picture cdkDrag *ngFor="let picture of book" [picture]="picture"></app-picture>
    </mat-card>
    <mat-card class="selection" cdkDropList id="selected" #selectedList="cdkDropList" [cdkDropListData]="selected"
        (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[bookList]">
        <app-picture cdkDrag *ngFor="let picture of selected" [picture]="picture"></app-picture>
    </mat-card>
    <button (click)="pauseAudio()">PLAY/PAUSE</button>
    <button (click)="playNextAudio()">Play selected</button>
    <button (click)="logArrays()">Log arrays</button>
</div>